<div class="horario-funcionamento">
  <h1>{{'HORARIO_FUNCIONAMENTO' | translate}}</h1>
  <ul>
    <li>
      {{'HORARIO_FUNCIONAMENTO.DOMINGO' | translate}}<span appFechado [valor]="horarioFuncionamento.domingo">{{horarioFuncionamento.domingo | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.SEGUNDA' | translate}}<span appFechado [valor]="horarioFuncionamento.segunda">{{horarioFuncionamento.segunda | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.TERCA' | translate}}<span appFechado [valor]="horarioFuncionamento.terca">{{horarioFuncionamento.terca | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.QUARTA' | translate}}<span appFechado [valor]="horarioFuncionamento.quarta">{{horarioFuncionamento.quarta | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.QUINTA' | translate}}<span appFechado [valor]="horarioFuncionamento.quinta">{{horarioFuncionamento.quinta | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.SEXTA' | translate}}<span appFechado [valor]="horarioFuncionamento.sexta">{{horarioFuncionamento.sexta | fechado}}</span>
    </li>
    <li>
      {{'HORARIO_FUNCIONAMENTO.SABADO' | translate}}<span appFechado [valor]="horarioFuncionamento.sabado"> {{horarioFuncionamento.sabado | fechado}}</span>
    </li>
  </ul>
</div>
