

.endereco {
  border-top: 1px solid #bcbcbc;
  padding-top: 10px;
  margin-top: 10px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;

    span {
      font-weight: 100;
    }
  }
}
